<form action="/productos/store" method="post">
    <div>
        <label for="nombre">Nombre: </label>
        <input type="text" id="nombre" name="nombre">
    </div>
    <div>
        <label for="categoria">Categoria: </label>
        <select name="categoria" id="categoria">
            <option value=""></option>
            <option value="1">Categoria 1</option>
            <option value="2">Categoria 2</option>
        </select>
    </div>
    <button type="submit">Guardar</button>
</form>