<h1>Listado de Productos</h1>

<% productos.forEach(producto => { %>
    <h2><a href="/productos/<%= producto.id %>">id: <%= producto.id %></a></h2>
    <p>nombre: <%= producto.nombre %></p>
<% }) %>

<a href="/productos/create">Crear Producto</a>

<br><br>
