<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <style>
        body {
            background-color: aqua;
        }

        h1 {
            color: blueviolet;
        }
    </style>
</head>
<body>
    <h1>Contacto</h1>
    <p>Nombre: <%= body.nombre %></p>
    <p>Correo: <%= body.email %></p>
    <p style="color: green;">Mensaje: <pre><%= body.mensaje %></pre></p>
</body>
</html>