<% if (typeof errors != 'undefined') { %>
    <ul>
        <% errors.forEach(error => { %>
            <li><%= error.msg %></li>
        <% }) %>
    </ul>
<% } %>


<form action="/contacto" method="post">
    <div>
        <label for="nombre">Nombre: </label>
        <input type="text" id="nombre" name="nombre" value="<%= values.nombre %>">
    </div>
    <div>
        <label for="email">Correo: </label>
        <input type="text" id="email" name="email" value="<%= values.email %>">
    </div>
    <div>
        <label for="mensaje">Mensaje: </label>
        <textarea name="mensaje" id="mensaje" cols="30" rows="10"><%= values.mensaje %></textarea>
    </div>
    <button type="submit">Enviar</button>
</form>