<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
</head>
<body>
    <header>
        <h1>Mi sitio</h1>
        <%- include('partials/nav') -%>
    </header>

    <main>
        <%- body %>
    </main>

    <footer>
        Copyright &copy; 2022
    </footer>
</body>
</html>