<h1>Crear categoria</h1>

<div class="row justify-content-center">
    <div class="col-6">
        <form action="/admin/categorias/store" method="post">
            <div>
                <label for="nombre" class="form-label">Nombre: </label>
                <input type="text" class="form-control" id="nombre" name="nombre">
            </div>
            <button type="submit" class="btn btn-primary mt-3">Guardar</button>
        </form>
    </div>
</div>