<% if (categoria) { %>
    <h1>id: <%= categoria.id %></h1>
    <h2>nombre: <%= categoria.nombre %></h2>
    <a href="/admin/categorias/<%= categoria.id %>/edit" class="btn btn-warning">Editar</a>
<% } else { %>
    <p>No existe el categoria</p>
<% } %>
